label {
    display: block;
    font-size: 1.15rem;
    color: var(--text);
    font-weight: 500;
    margin-bottom: 0.5rem;
}

input,
textarea {
    background: var(--bgSoft);
    width: 100%;
    padding: 0.75rem;
    border-radius: 10px;
    font-size: 1.15rem;
    font-family: inherit;
    border: none;
    box-shadow: o 2px 8px rgba(0, 0, 0, 0.5);
}

input:focus,
textarea:focus {
    outline: none;
}